@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.culture-selection-container {
  margin: 30px;
}

.culture-selection-title {
  color: white;
  text-align: left;
  font-weight: 500;
  font-size: 24px;
}

.go-back-p {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.go-back-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.arrow-pic {
  height: 14px;
}

.culture-options-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 420px;
  overflow-y: scroll;
}

.culture-options-btn {
  border: none;
  background-image: linear-gradient(to right, #371e3a, #11534e);
  margin: 5px 0;
  padding: 10px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  opacity: 0.9;
}