* {
  color: white;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recommended-books-main-container {
  padding: 34px;
}

.recommended-books-text {
  text-align: left;
}

.recommended-books-title {
  margin-bottom: 5px;
}

.book-pic {
  width: 140px;
  margin-top: 20px;
  border-radius: 10px;
}

.recommended-books-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.recommended-books-container {
  justify-content: space-between;
}

#loadingTitle{
  position: absolute;
  right: 20%;
  top: 23%;
}

#spinner{
  position: absolute;
  right: 30%;
  top: 38%;
  animation: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}