.page{
    height: 100%;
    width: 100%;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topPage{
    height: 30%;
    display: flex;
    flex-direction: column;
    background: transparent;
    gap: 20px;
}

#logo{
    height: 90px;
    background: transparent;
}

#logo_title{
    height: 62px;
    background: transparent;
}

.bodyPage{
    background: transparent;
    width: 100%;
}

.bodyPage p{
    display: flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    width: 100%;
    height: 50%;
    color: white;
}

.bottomPage{
    height: 20%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#discription{
    background: transparent;
    color: white;
}

#logInButton{
    background: none;
    background-color: #09FBD3 !important;
    border: none;
    color: white;
    width: 165px;
    height: 36px;
    border-radius: 10px;
}